dist
projects
config.yaml
samples.yaml
*.ipynb
*.tif
*.jpg
*.jpeg
*.png
*.rds
*.html
*.csv
*.pdf
*.txt.gz
*.fastq.gz
*.fa
*.gtf
*.DS_Store
*.log
*.bam
.coverage*
.snakemake
build
__pycache__
spacemake.egg-info
scratch

*.icloud
*.h5ad
