sphinx
sphinxcontrib-napoleon
docutils==0.12
sphinx_rtd_theme
sphinx-argparse
snakemake>=5.32.0,<6.5.0
pysam
pandas
scanpy
leidenalg
numpy
more-itertools
biopython
scipy
scikit-misc
scikit-learn
opencv-python
nbsphinx>=0.4
spacemake
novosparc
ipython
